<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
 	
 	<!-- styles -->
 	<link type="text/css" href="stylesheets/style.css" rel="stylesheet">

</head>
<body>	
	<h1><%= error.status %></h1>
	
</body>
</html>
