<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
 	<title><%= title %></title>

 	<!-- styles -->

  <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.6.0/base-min.css&pure/0.6.0/grids-min.css&pure/0.6.0/grids-responsive-min.css">

 	<!-- <link type="text/css" href="stylesheets/style.css" rel="stylesheet"> -->

 	<link type="text/css" href="stylesheets/index.css" rel="stylesheet">
 	
 		
 	</style>
</head>
<body>
  <div class="index_container">
    <!-- <div class="svg_img"> -->
      <svg width=100% height=100% >
        <defs>
          <filter id='Blur'>
            <feGaussianBlur in="SourceGraphic" stdDeviation=1 />
          </filter>
          <mask id='mask_three_line'>
            <rect x=0 y=0% width=100% height=33.3% fill=gray />
            <rect x=0 y=33.3% width=100% height=33.3% fill=red />
            <rect x=0 y=66.6% width=100% height=33.4% fill=gray />
          </mask>
        </defs>

        <image x=0 y=0 width=100% height=100% xlink:href='/images/index_img.jpg'  mask='url(#mask_three_line)' />
        <!-- option : filter='url(#Blur)' -->
        
        <text x="50%" y="50%" class="index_title"> JDM studio </text>
      </svg>
    <!-- </div> -->

  </div>
  <div class="index_login" >
    <svg width=100% height=100% >
      <a xlink:href="/auth/facebook" >
        <image x=0 y=0 width=30% height=30% xlink:href='/images/facebook_icon.png'/>
      </a>
      <a xlink:href="/auth/google" >
        <image x=50% y=0 width=30% height=30% xlink:href='/images/google-icon.png'/>
      </a>

    </svg>


  </div>

</body>
</html>
