<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
 	<title><%= title %></title>

 	<!-- styles -->
 	<link type="text/css" href="stylesheets/style.css" rel="stylesheet">

</head>
<body>	
	<h1><%= title %></h1>

		<!-- user name -->
		<% if (user.username) { %>
			<%= user.username %>
		<% } %>

		<button onclick="location.href='/logout'">logout</button><br>

		<a href='/auth/facebook'><!--<img src="/images/img_facebook.png">-->facebook login</a><br>
		<a href='/auth/google'>google login</a>


	
</body>
</html>
