<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
 	<title><%= title %></title>

 	<!-- styles -->

  <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.6.0/base-min.css&pure/0.6.0/grids-min.css&pure/0.6.0/grids-responsive-min.css">

 	<link type="text/css" href="stylesheets/style.css" rel="stylesheet">

 	<link type="text/css" href="stylesheets/index.css" rel="stylesheet">
 	
 	<style type="text/css">
 		div.title_field {
 			z-index : 2;
 			position: fixed;
 			left : 0%;
 			width: 75%;
 			padding : 1em;
 			margin : 0em;
 		}
 		.title_text {
 			font-size : 2em;
 			font-weight : bold;
 		}
 		.login_field {
 			position :fixed;
 			z-index : 2;
 			padding :0;
 			margin : 0;
 			right : 0;
 			width: 25%;
 		}
 		.first {
 			position : absolute;
 			left: 10%;
 			margin : 0;
 			width: 30%;
 		}
 		.second {
 			position : absolute;
 			right: 10%;
 			margin : 0;
 			width: 30%;
 		}
 		.first img,
 		.second img{
 			width  :  80%;
 			height : auto;
 		}
 		div.index_img {
 			margin : 0;
 			padding: 0;
 			position: relative;
 			top : 5em;
 		}
 		div.index_img img {
 			z-index : 1;
 			width : 100%;
 			height: auto;
 		}
 		
 	</style>
</head>
<body>
  <div class="index_container">
    <!-- <div class="svg_img"> -->
      <svg width=100% height=100% >
        <defs>
          <filter id='Blur'>
            <feGaussianBlur in="SourceGraphic" stdDeviation=1 />
          </filter>
          <mask id='mask_three_line'>
            <rect x=0 y=0% width=100% height=33% fill=white />
            <rect x=0 y=33% width=100% height=33% fill=red />
            <rect x=0 y=66% width=100% height=34% fill=gray />
          </mask>
        </defs>

        <image x=0 y=0 width=100% height=100% xlink:href='/images/index_img.jpg'  mask='url(#mask_three_line)' />
        <!-- option : filter='url(#Blur)' -->
        
        <text class="is-center index_title" y="210"> JDM studio</text>
      </svg>
    <!-- </div> -->

  </div>
  <div class="index_login">
    <svg width=100% height=100% >
      <a xlink:href="http://jdmstudio.photo" target='_blank'>
        <img x=0 y=0 width=100% height=100% xlink:href='/images/facebook_icon.png'/>
      </a>
      <a xlink:href="http://jdmstudio.photo" target='_blank'><img xlink:href='/images/google_icon.png'/></a>



    </svg>


  </div>


	<!-- <div class="title_field">
        <span class="title_text"><%= title %></span>
    </div>
    <div class="login_field">
        <div class="first">
	        <a href='/auth/facebook'><img src="/images/facebook_icon.png"></a>
	    </div>
	    <div class="second">
	        <a href='/auth/google'><img src="/images/google-plus.png"></a>
	    </div>
	</div>
	<div class="index_img">
		<img src="/images/CAM00629.jpg">
	</div> -->
</body>
</html>
