<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
 	<title><%= title %> Welcome <%= user %></title>

 	<!-- styles -->
 	<link type="text/css" href="stylesheets/style.css" rel="stylesheet">

</head>
<body>	
	<h1><%= title %></h1>
	<h1><%= user %> 님 접근 권한이 없습니다.</h1>
	<button onclick="location.href='/logout'">logout</button>
	<h1>
간단소개
</h1>
<table>
  <tr>
    <td>이름</td>
    <td>장동민</td>
  </tr>
  <tr>
    <td>나이</td>
    <td>32 (1985년생), 기혼</td>
  </tr>
  <tr>
    <td>현재 하는 일</td>
    <td>쌍용정보통신 해군사업 소프트웨어 개발자</td>
  </tr>
  <tr>
  <td>경력</td>
  <td>육군 통신장교 2년<br>
  유진투자증권 3년</td>
  </tr>
</table>




	
</body>
</html>
