<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
 	<title><%= title %> </title>

 	<!-- styles -->
 	<link type="text/css" href="stylesheets/style.css" rel="stylesheet">

</head>
<body>	
	<h5><%= user %> 님 로그인 되었습니다.<button onclick="location.href='/logout'">logout</button></h5>
	
	<h1>
간단소개
</h1>
<table>
  <tr>
    <td>이름</td>
    <td>장동민</td>
  </tr>
  <tr>
    <td>나이</td>
    <td>32 (1985년생), 기혼</td>
  </tr>
  <tr>
    <td>현재 하는 일</td>
    <td>쌍용정보통신 해군사업 소프트웨어 개발자</td>
  </tr>
  <tr>
  <td>경력</td>
  <td>육군 통신장교 2년<br>
  유진투자증권 3년</td>
  </tr>
  <tr>
    <td>학력</td>
    <td>
      세종대학교 컴퓨터공학과 졸업<br> 
      중국 청년정치대학 1학기 어학연수
    </td>
  </tr>
</table>
<h1>학부 졸업 후. 걸어온 길</h1>



	
</body>
</html>
