* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    line-height: 1.7em;
    color: #7f8c8d;
    
}
.index_container {
    z-index: 1;
    width: 100%;
    height: 70%;
    top: 0;
    left: 0;
    position: absolute;
}
.index img { 

}
.index_title {
  font-weight: bold;
  color: black;
  font-size:"10em";
}
.index_login {
  z-index: 1;
  width: auto;
  width: 100%;
  height: auto;
  top: 70%;
  left: 0;
  position: absolute;

}
.index_login_icon {

}
.is-center {
    text-align: center;
}
@media (min-width: 48em) {

  .index_title {
    font-size: 300%;
  }
}
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .index_title {
        font-size: 300%;
    }
}