* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 60px;
}
.index_container {
    z-index: 1;
    width: 100%;
    height: 70%;
    top: 0;
    left: 0;
    position: absolute;
}
.index_title {
  font-weight: bold;
  color: black;
  font-size: 50px;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  height: auto;
  top: 40%;
  left: 0;
  text-align: center;
}
.index_login {
  z-index: 1;
  width: 100%;
  height: 20%;
  top: 70%;
  left: 0;
  position: absolute;
}

.is-center {
    text-align: center;
}
@media screen and (min-width: 35.5em) {

  .index_title {
    font-size: 50px;
  }
}
@media screen and (min-width: 48em) {

  .index_title {
    font-size: 50px;
  }
}
@media screen and (min-width: 64em) {

  .index_title {
    font-size: 60px;
  }
}
@media screen and (min-width: 78em) {
    /* We increase the header font size even more */
    .index_title {
        font-size: 70px;
    }
}