* {
    box-sizing: border-box;
}
body {
    /*margin: 0em ; padding: 0em;*/
    font:  "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
hr { 
	border-top:1px solid #9C9C9C; border-bottom:1px solid #F6F6F6; 
}


